<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Water Bottle Website</title>
  <link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
     <ul id="nav_bar">
  <li><a class="nav_bar_button" href="/">Home</a></li>
  <li><a class="nav_bar_button" href="/leaderboard">Leaderboard</a></li>
</ul>

  <h1 id="leaderboardHeader">
    Leaderboard
  </h1>

   <table id="leaderboard">
        <thead>
            <td>Username</td>
            <td>Score (%)</td>
            <td>Bottles Recycled</td>
            <td>Bottles Consumed</td>
            <td>State</td>


         </thead>
        {% for row in rows %}
            <tr>
               <td>{{row["username"]}}</td>
                <td>{{row["score"]}}</td>
                <td>{{row["bottles_recycled"]}}</td>
               <td>{{row["bottles_count"]}}</td>
                <td>{{row["state"]}}</td>
            </tr>
         {% endfor %}
  </table>

  <script src="../static/script.js"></script>


</body>

</html>
